.review-container {
  display: flex;
  flex-direction: column;
}

.review-container .review-title {
  text-align: center;
}

.review-container .review {
  font-weight: 400;
  justify-content: space-between;
  column-gap: 55px;
  display: flex;
}

.review-date {
  color: gray;
}
