.review-container {
    column-gap: 30px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
}

.review-date {
    color: gray;
}