.App {
  text-align: center;
  background-color: ghostwhite;
}

.profile {
  margin-top: 20vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
  border: 1px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.review-toggle-button {
  margin-top: 10px;
}