.App {
  text-align: center;
  background-color: ghostwhite;
  height: 100%;
}

.profile {
  margin-top: 20vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
  border: 1px;
}

.review-toggle-button {
  font-weight: 600;
  line-height: 1;
  font-size: large;
  margin-top: 10px;
  border-radius: 2px;
  background-color: lightblue;
  color:white;
  border: transparent;
}